body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.logo {
  width: 100px;
  height: auto;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

section {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

h2 {
  text-align: center;
  color: #333;

}
.container p{
  font-size: 22pt;
}
.container h2{
  font-size: 25pt;
}
.service img{
  width: 300px;
}
.service, .project {
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid rgb(206, 206, 206);
}
.project p{
  font-size: 14pt;
}
.service img, .project img, #about img {
  width: 400px;
  height: auto;
  margin-bottom: 10px;
}
#about ul li{
  font-size: 21pt;
  color: #525252;
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#contact input, #contact textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contact button {
  padding: 10px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
